body,html {
    max-width: 100%;
    background-color:transparent;
    font-family:-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue","Segoe UI","ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
}

.section b, .about b {
    display: block;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.invisible {
    display: none;
}